modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "cd client && npm run build"]
run = ["sh", "-c", "node server/index.ts"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38465126
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"

[objectStorage]
defaultBucketID = "replit-objstore-f76bec2f-85e5-4553-8810-b996dc6e3908"
